*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(57, 57, 57);
    color: #F3F3F3;
}

p {
    display: flex;
    flex-direction: column;
    font-size: 1.8em;
}

button {
    background-color: #F3F3F3;
    color: rgb(57,57,57);
    font-size: 1.8em;
    width: 250px;
    border: none;
    border-radius: 10px;
}

button:hover {
    opacity: 0.7;
}

main {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.side-control {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.tools {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.hues {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.game {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.header {
    font-size: 6em;
    color: #F3F3F3;
    letter-spacing: -5px;
}

.sketch-container {
    width: 600px;
    height: 600px;
    border: solid #F3F3F3 1px;
    background-color: rgb(200, 200, 200);
    display: flex;
    flex-wrap: wrap;
}

.cell {
    flex-shrink: 1;
    background-color: rgb(200, 200, 200);
}

.border {
    border-collapse: collapse;
    border: 0.3px rgb(83, 83, 83) solid;
}

.right-div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.color-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.color {
    width: 90px;
    height: 40px;
    padding: 3px;
}