*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
}

.main-wrap {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    font-size: 2rem;
}

.content {
    height: 80%;
}

.display-on {
    display: flex;
}

.display-off {
    display: none;
}

button {
    text-align: center;
    border: none;
    font-size: 1.4rem;
    padding: 10px 20px;
    background-color: #39b2de;
    color: #f5f5f5;
}

button:hover {
    background-color: #c6c6c6;
    color: #2a8ab7;
}

button:active {
    background-color: #2a8ab7;
    color: #f5f5f5;
}

.game-wrap {
    border: black 1px solid;
    height: 500px;
    width: 500px;
}

#start-screen, #settings-screen, #game-screen, #end-screen {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.header {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen-content {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    gap: 20px;
}

.settings-div {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.setting-row {
    display: flex;
    justify-content: space-between;
    width: 300px;
    align-items: center;
}

#rows, #columns {
    width: 50px;
    height: 1.9rem;
    font-size: 1.2rem;
    padding: 5px;

}

label {
    font-size: 1.2rem;
}

#player1, #player2 {
    width: 150px;
    height: 1.9rem;
    font-size: 1.2rem;
    padding: 5px;
}

.disabled-diff {
    color: #727272;
}

.disabled-name {
    color: #727272;
}

#setting-div-1 {
    height: 10px;
    width: 60%;
    border-bottom: 1px solid rgb(202, 202, 202);
    margin-bottom: 10px;
} 

#setting-div-2 {
    height: 20px;
    width: 80%;
    border-bottom: 1px solid rgb(149, 149, 149);
    margin-bottom: 10px;
}

.board {
    display: flex;;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cell-row {
    display: flex;
}

.cell {
    border: 1px solid black;
    height: 35px;
    width: 35px;
}

.cell-empty {
    background-color: #f5f5f5;
}

.full-row {
    border: 1px solid rgb(148, 148, 148);
}

.full-row:hover {
    background-color: #9d9d9d;
}

.filling-column {
    animation: filling-column 1s;
    position: relative;
}

@keyframes filling-column {
    from {
        top: 0;
    } to {
        top: 100px;
    }
}

.players {
    display: flex;
}


#player2-score, #player1-score {
    font-weight: 600;
}  

#end-message {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 30px;
}

#end-players {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#end-players > div {
    display: flex;
    justify-content: space-between;
}

#end-controls {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

#seperator {
    padding-right: 10px;
    padding-left: 10px;
}



@keyframes start-screen-start-transition {
    from {
        transform: translate(0, 0);
        opacity: 1;
    } to {
        transform: translate(0, -25%);
        opacity: 0;
    }
}

@keyframes settings-screen-start-transition {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes settings-screen-exit-transition {
    from {
        transform: translate(0, 0);
        opacity: 1;
    } to {

        transform: translate(-30%, 0);
        opacity: 0;
    }
}

@keyframes game-screen-game-start-animation {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes settings-screen-game-start-animation {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}

@keyframes start-screen-game-exit-transition {
    from {
        transform: translate(0, 0);
        opacity: 1;
    } to {
        transform: translate(0, -25%);
        opacity: 0;
    }
}

@keyframes game-screen-game-exit-transition {
    from {
        transform: translate(0, 0);
        opacity: 1;
    } to {
        transform: translate(-30%, 0);
        opacity: 0;
    }
}

@keyframes settings-screen-game-settings-animation {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes game-screen-game-settings-animation {
    from {
        transform: translate(0, 0);
        opacity: 1;
    } to {
        transform: translate(0, -25%);
        opacity: 0;
    }
}

@keyframes game-screen-game-back-animation {
    from {
        transform: translate(40%, 0);
        opacity: 0;
    } to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes settings-screen-game-back-animation {
    from {
        transform: translate(0, 0);
        opacity: 1;
    } to {
        transform: translate(-30%, 0);
        opacity: 0;
    }
}

@keyframes game-screen-end-restart-animation {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes end-screen-end-restart-animation {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}

@keyframes start-screen-end-exit-animation {
    from {
        transform: translate(0, 0);
        opacity: 0;
    } to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes end-screen-end-exit-animation {
    from {
        transform: translate(0, 0);
        opacity: 1;
    } to {
        transform: translate(0, -25%);
        opacity: 0;
    }
}

.start-screen-start-animation {
    animation: start-screen-start-transition 0.5s;
    position: relative;
    display: flex;
}

.settings-screen-start-animation {
    animation: settings-screen-start-transition 0.5s;
    position: relative;
    display: flex;
    top: -100%;
}

.settings-screen-exit-animation {
    animation: settings-screen-exit-transition 0.5s;
    position: relative;
    top: -100%;
}

.game-screen-game-start-animation {
    animation: game-screen-game-start-animation 0.5s;
    position: relative;
    display: flex;
    top: -100%;
}

.settings-screen-game-start-animation {
    animation: settings-screen-game-start-animation 0.5s;
    position: relative;
    display: flex;
}

.start-screen-game-exit-animation {
    animation: start-screen-game-exit-transition 0.5s;
    position: relative;
    top: -100%;
}

.game-screen-game-exit-animation {
    animation: game-screen-game-exit-transition 0.5s;
    position: relative;
    top: -100%;
}

.settings-screen-game-settings-animation {
    display: flex;
    animation: settings-screen-game-settings-animation 0.5s;

}

.game-screen-game-settings-animation {
    display: flex;
    animation: game-screen-game-settings-animation 0.5s;
    top: -100%;
    position: relative;
}

.game-screen-game-back-animation {
    animation: game-screen-game-back-animation 0.5s;
    position: relative;
    display: flex;
    top: -100%;
}

.settings-screen-game-back-animation {
    animation: settings-screen-game-back-animation 0.5s;
    display: flex;
}

.game-screen-end-restart-animation {
    animation: game-screen-end-restart-animation 0.5s;
    display: flex;
}

.end-screen-end-restart-animation {
    animation: end-screen-end-restart-animation 0.5s;
    position: relative;
    display: flex;
    top: -100%;
}

.start-screen-end-exit-animation {
    animation: start-screen-end-exit-animation 0.5s;
    display: flex;
}

.end-screen-end-exit-animation {
    animation: end-screen-end-exit-animation 0.5s;
    position: relative;
    top: -100%;
    display: flex;
}

.insert-token-row-0 {
    animation: insert-token-row-0 0.3s;
    position: relative;
}

@keyframes insert-token-row-0 {
    from {
        transform: translateY(-100%);
    } to {
        transform: translateY(0);
    }
}

.insert-token-row-1 {
    animation: insert-token-row-1 0.3s;
    position: relative;
}

@keyframes insert-token-row-1 {
    from {
        transform: translateY(-200%);
    } to {
        transform: translateY(0);
    }
}

.insert-token-row-2 {
    animation: insert-token-row-2 0.3s;
    position: relative;
}

@keyframes insert-token-row-2 {
    from {
        transform: translateY(-300%);
    } to {
        transform: translateY(0);
    }
}

.insert-token-row-3 {
    animation: insert-token-row-3 0.4s;
    position: relative;
}

@keyframes insert-token-row-3 {
    from {
        transform: translateY(-400%);
    } to {
        transform: translateY(0);
    }
}

.insert-token-row-4 {
    animation: insert-token-row-4 0.4s;
    position: relative;
}

@keyframes insert-token-row-4 {
    from {
        transform: translateY(-500%);
    } to {
        transform: translateY(0);
    }
}

.insert-token-row-5 {
    animation: insert-token-row-5 0.4s;
    position: relative;
}

@keyframes insert-token-row-5 {
    from {
        transform: translateY(-600%);
    } to {
        transform: translateY(0);
    }
}

.insert-token-row-6 {
    animation: insert-token-row-6 0.5s;
    position: relative;
}


@keyframes insert-token-row-6 {
    from {
        transform: translateY(-700%);
    } to {
        transform: translateY(0);
    }
}

.insert-token-row-7 {
    animation: insert-token-row-7 0.5s;
    position: relative;
}

@keyframes insert-token-row-7 {
    from {
        transform: translateY(-800%);
    } to {
        transform: translateY(0);
    }
}

.insert-token-row-8 {
    animation: insert-token-row-8 0.5s;
    position: relative;
}

@keyframes insert-token-row-8 {
    from {
        transform: translateY(-900%);
    } to {
        transform: translateY(0);
    }
}