*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.heading {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    height: 15%;
}

.content {
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.display-on {
    display: flex;
}

.display-off {
    display: none;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.cell {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
    border: 1px solid #3d3d3d;

}