*, *::after, *::before {
    box-sizing: border-box;
    border: none;
    box-shadow: none;
}

html {
    font-size: 62.5%;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}
@media (prefers-reduced-motion: no-preference) {
    html {
          scroll-behavior: smooth;
    }
  }
  :focus:not(:focus-visible) {
    outline: none;
}
label,
button,
select,
summary,
[type=radio],
[type=submit],
[type=checkbox] {
    cursor: pointer;
}
img {
    display: block;
    max-width: 100%;
}
menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
    list-style: none;
}
menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
    list-style: none;
}
menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
    list-style: none;
}
a {
    text-underline-position: under;
    text-decoration-thickness: 8;
}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

.main-wrap {
    display: flex;
}

.hero {
    width: 30vw;
    position: relative;
}

#hero {
    object-fit: cover;
    height: 100vh;
    position: relative;
}

.logo {
    background-color: rgba(128, 128, 128, 0.6);
    position: absolute;
    top: 20%;
    right: 0;
    left: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(42, 42, 42, 0.8);
}

.main-body {
    height: 100vh;
    width: 70vw;
    padding: 10% 7% 20% 7%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fafafa;
    text-align: center;
}

.upper {
    padding: 5px;
    font-size: 1.5rem;
}

.middle {
    border: 1px rgb(66, 66, 66) solid;
    padding: 20px;
    border-radius: 15px;
}

.action-call {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 5px;
}

.form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px 10px;
    gap: 20px;
    justify-content: center;
}

.input {
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 1.2rem;
    flex-wrap: nowrap;
    font-size: 1.1rem;
    margin: 0 15px;
}

input {
    font-size: 1rem;
    height: 1.2rem;
    border: solid 1px rgb(27, 27, 27);
    border-radius: 3px;
}

input:focus {
    border: solid 1px blue;
}

.valid {
    border: solid 1px green;
}

.invlid {
    border: solid 1px red;
}

.footer {
    position: absolute;
    bottom: 3%;
    left: 43%;
    right: 43%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"]:-moz-placeholder {
    text-align: right;
}
input[type="text"]:-ms-input-placeholder {
    text-align: right;
}
input[type="text"]::-webkit-input-placeholder {
    text-align: right;
}

.